.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.left {
    display: block;
    margin-left: 70px;
    margin-right: auto;
    width: 100%;
}

.fondo {
    background-image: url('/assets/opaca.png');
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

#Cuadro_1 {
    display: block;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#linea_1 {
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#cuadro_2 {
    display: block;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}